#Header {
	background-color: #2C2D3D;
	padding: 10px;
	border-style: solid;
	margin: 10px;
	width: 1215px;
	height: 50px;
	text-align: center;
	padding-bottom: 40px;
}
#Nav {
	float: left;
	width: 260px;
	background-color: #2C2D3D;
	height: 390px;
	border-style: solid;
	margin-right: 20px;
	margin-left: 10px;
	text-indent: 20px;
	padding-left: 0px;
}
#Container {
	width: 1215px;
}
#Main {
	width: 745px;
	background-color: #2C2D3D;
	border-style: solid;
	margin-top: 5px;
	text-indent: 10px;
	padding-top: 10px;
	height: 370px;
	margin-left: 200px;
	padding-right: 200px;
	padding-left: 100px;
	padding-bottom: 10px;
}
#Footer {
	clear: both;
	background-color: #2C2D3D;
	margin-top: 40px;
	border-style: solid;
	margin-right: 12px;
	margin-left: 12px;
	margin-top: 0px;
}
#Writing {
	background-color: #3F404D;
	border-style: double;
}
body {
	background-color: #182FF1;
}
#Nav_Writing {
	background-color: #3F404D;
	padding-right: 10px;
	padding-left: 10px;
	width: 170px;
	margin-left: auto;
	margin-right: auto;
	height: 260px;
	font-size: 20;
	line-height: 2;
	border-style: double;
	margin-top: 50px;
	padding-bottom: 29px;
}
#Nav_Links:link {
	color: #F1C40F;

}
#Nav_Links:visited {
	color: #9A7D0A;
}
#Nav_Links:hover {
	color: #F4D03F;
}
#Nav_Links:active {
	color: #F1C40F;
}
#Cube {
	display: inline-block;
	background-color: red;
	width:50px;
	height: 50px;
	transition: transform 600ms ease-in-out
}
#Trigger:hover #Cube {
	transform: translate(1200px);
}
#Trigger {
	width: 70px;
	height: 70px;
	padding-bottom: 0px;
	margin-top: 10px;
}